body{margin:5px 0; }
h3,ul,form,img{margin:0; padding:0 ;border:0;}

.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clear{clear:both; height:0; font:0; visibility:hidden;}
.g1{text-align:center;}
a:link,a:visited{color:#00f; text-decoration:none;}
a:hover,a:active{color:#900; text-decoration:underline;}

.s120160 img{text-align: center;height: 160px;width: 120px;border: 0px;}
.s100100 img {height: 100px;width: 100px;border: 0px;padding-left: 10px;}

#header{width:990px;margin:0 auto;}
#header .mark{float:right; font-size:12px; text-align:right; line-height:18px; color:#9d9e99;}
#header .mark a{color:#000000;}
#header .mark form{margin-bottom:5px;}
#header .mark span{color:#ff0000;}
#header #logo {float: left;width: 200px;}
#header #goodnav {font-size: 12px;color: #FF0000;line-height:60px;text-indent: 10px;}

#navcont{background: #fff url(../../images/i1/navbg.gif) left top repeat-x; overflow: hidden; width:990px; height:39px;font-size:14px;margin:0 auto; border-top:#9d9e99 1px solid;}
#navlist{display: block;padding: 0;margin: 0;float: left;}
#navlist li{display: block;float: left;}

#navlist li a{display: block;float: left;padding: 12px 11px 10px;text-decoration: none;font-family: ו, Arial, sans-serif;color: #fc0297; font-size:14px; font-weight:600; border-right:#bcbcbc 1px solid;}
#navlist li a:hover{color: #fff; background:url(../../images/2.jpg) repeat-x; height:39px; font-weight:600;}
#navlist li a.active{color: #fff;font-weight: bold; background:url(../../images/2.jpg) repeat-x; height:39px;}
#tg_banner2 {width:990px;margin:0 auto;padding-top:5px;}
#tg_banner2 a {color: #000;font-size: 12px;text-decoration: underline;padding-right: 5px;padding-left: 5px;}
#tg_banner2 b {font-size: 12px;}
div.wbanner{width:980px; margin:10px auto 0; text-align:center;}

#content{width:990px; margin:15px auto 0px; font-size:14px}
#content div.box h3{font: normal 14px ו, Arial; height:2em; padding:2px 1em 0px .5em; border-bottom:#d2d2d2 1px dashed; background:url(../../images/h3_bg.gif) 6px 50% no-repeat; text-indent:1.5em;}
#content div.box h3.tit_style{color:#ff0198; line-height:2em; margin:0; padding:0; text-indent:28px;}
#content div.box h3 span { float:right; font-weight:normal;}
#content div.box h3 span a{ font-weight:normal; font-size:12px; margin-top:3px;}
#content div.box h3 a{ display:block; text-indent:1.5em; padding-top:.4em; font-weight:bold; outline:none;}
.box h4,#links h3 {font: normal 14px ו, Arial; height:1em; padding:2px 1em 4px .5em; clear: right; color:#777 ; background:transparent url(../../images/i1/blue.gif) right center no-repeat; margin:0; position:absolute;right:0px!important; right:9px; top:-.8em; border:0 none;}
#content div a:link,#content div a:visited,#content div h3 a:visited{color:#fc0297; text-decoration:none;}
#content div a:hover{color:#FF5400; text-decoration:underline;}
#content div h3 img {margin:-3px 0;}

div#col1{width:728px; float:left;}
div#col1 .box{border:1px solid  #d2d2d2 ;margin:0 0 1.5em 0; position:relative; height:100%;background:#fff; top:0;}
div#col1 .box_gg{margin:0 0 1.5em 0; position:relative; height: auto; top:0;}
div#col1 .box ul{list-style:none; padding-left:12px; padding-bottom:12px;  _margin-bottom:12px; overflow:hidden;}
#content .rbox ul{list-style:none;}
#content .rbox ul{margin:5px 0;}
div#col1 .box ul li{float:left; background:#fff; border:1px solid #d2d2d2; font-size:12px; margin:13px 8px 2px 0px; position:relative; z-index:1000;}
div#col1 .box ul li img{margin:8px 6px 0 6px;}
div#col1 .box ul li span{text-align:center; line-height:2em;display:block; width:120px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin:0 6px; color:#696767}
div#col1 .box ul li a:link,div#col1 .box ul li a:visited{color:#3C5B55; text-decoration:none;}
div#col1 .box ul li a:hover{color:#3C5B55; text-decoration:underline;}
div#col1 .box h3 a:hover{color:#f00; text-decoration:underline;}
div#col1 .box .more{line-height:2.6em; padding-right:8px; text-align:right; clear:both;}
div#col1 .box .page{line-height:2em; padding-right:8px; text-align:center; clear:both}
div#col1 .box .page a:link,div#col1 .box .page a:visited{ color:color:#ff0198; text-decoration:none}
div#pics{clear: both;text-align:center; line-height:20px; padding:10px 0; overflow:hidden;}
div#arts{padding:10px; line-height:1.5em; overflow:hidden; width:698px;}
div#pics img{margin-bottom:8px;}
div#col1 h1{font-size:18px; margin:20px 0 0; text-align:center;}
div#col1 .source{border-bottom:1px dashed #cad6e8;line-height:2em;text-align:center;font-size:12px;padding-bottom: 12px;}
div#code {clear:both; margin:0 20px; padding:5px; border:1px dotted #ccc; background:#FDFDDF; font-size:12px;}
div#code span{color:#900; font-weight:bold;}
div#col1 .tool{border-top:1px solid #CAD6E8; line-height:1.8em; padding:10px; background:#f2f6fb;}

div#col2{width:252px; float:right; background:#ff;}
div#col2 .rtit{font-size:12px;color:#ff0198;font-weight:bold;width:90px;background:#fff;line-height:20px;text-align:center;padding-top:2px;position:relative;top:1px;border:1px solid #d2d2d2;border-bottom:0;margin-top: 15px;margin-bottom: 0;}
div#col2 .rplu{float:right; text-align:right; margin-right:5px; color:#666;}
div#col2 .rbox {background:#fff;border:1px solid #d2d2d2;margin-top: 0;margin-bottom: 5px;}
div#col2 .rbox ul li{line-height:1.8em; font-size:12px; padding-left:8px; color:#838383; background:url(../../images/rbox_bg.gif) 6px 50% no-repeat; text-indent:1.5em;}
div#col2 .rbox ul li a:link,div#col2 .rbox ul li a:visited{ color:#696767; text-decoration:underline;}
div#col2 .rbox ul li a:hover{text-decoration:underline; color:#f00;}
#sg_1 {background-color: #F3F3F3;margin: auto;width: 88%;height: 73px;padding-left: 15px;padding-top: 2px;margin-top: 5px;}
#sg_1 li {float: left;width: 24%;list-style-type: none;text-align: left;}
#sg_1 li a:link {color: #000000;}
#sg_1 li a:visited {color: #000000;}
#sg_1 li a:hover {color: #FF0000;}
#picasa{margin:0 auto; padding:5px 0; text-align:center; background:#CAD6E8;}
#links{border:1px solid #d2d2d2;margin:5px auto; position:relative; height: auto;background:#fff; top:0; width:980px; font-size:12px; line-height:1.6em; padding:10px 0 0;}
#links li{width:89px; text-align:center; float:left; position:relative; z-index:1000; list-style:none;}
#links .more{line-height:1.8; padding-right:8px; text-align:right; clear:both; color:#666;}
#links a{color:#666; white-space:nowrap;}
#links h3 a{ color:#ff0198;}
#links a:hover{color:#f00;}
#copy a{color:#696767;}
#copy{ text-align:center; font-size:12px; margin-top:20px}